.body{
  /* position: relative; */
  display:flex;
}
#time {
  margin-left:500px;
}

.heading {
  color: rgb(56, 49, 49);
  letter-spacing: 10px;
  text-align: center;
  
}


/* Editorn */
.add-notes {
  display: flex;
  flex-direction: column;
}
#editor {
  margin-left:30px;
  min-width: 40%;
  max-width: 70%;
  border: none;
  background-color: #ffffff; 
  padding: 5px;
  text-align: left;
  font-size: 20px;
  /* flex-wrap:wrap; */
}
.ql-editor{
  display:flex;
  /* flex-wrap:wrap; */
  border:none;
}
/* Left, with all saved notes */
.search {
  margin-left:20px;
}
.saved-notes {
  display: flex;
  flex-direction: row;
}

.filtered {
  display: none !important;
}
.title{
 margin: 3%;
  width: 45%;
 
  font-size: 35px;
  color:#232324;
  font-weight:bold;
  margin-bottom:16px;
  border:none;
}

input[type=text]:focus {
  outline: none !important;
  /* border:1px dotted #E48464; */
  box-shadow: 0 0 10px #719ECE;
  }
}

 .form-control{
  /* box-shadow: 1px 1px 3px gray; */
  font-size:25px;
  margin-left:15px;
}

/* Listan till vänster */
.note-list{
 margin:15px;
float:left;
border-right:1px solid gray;
padding:20px;
list-style: none;
background-color: #bd9081;
width: 300px;
font-size: 30px;
color:#232324;
}

.listStyle {
  border:3px solid white;
  margin:15px;
  min-height:100px;
  padding:5px;
  display:flex;
  flex-direction:column;
  box-shadow: 0 0 15px #f5c2a8;
}


.styleTitle {
text-transform: capitalize;
font-size:30px;
font-weight: 600;
}

.styleTitle:hover {
  color:darkgray;
}
.styleTime {
  color:232324;
  font-size:10px;
  text-align:right;
}
.styleNote{
font-size:20px;
font-weight: 200;
}
.fa-trash-alt{
  font-size:15px;
  text-align:end;
}
.fa-trash-alt:hover {
  color:darkgray;
  cursor:pointer;
}

/* Buttons */

.new-note {
  margin-top:100px;
  margin-right:5px;
  background-color: #E48464;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
}

.reload {
margin-top:20px;
margin-right:5px;
background-color: #E48464;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius:5px;
}

.new-note:hover {
  color:black;
  background:radial-gradient(circle at center, #e7734c, #ac6953, #bd9081);
  border-radius:5px;
}
.reload:hover {
    color:black;
    background:radial-gradient(circle at center, #e7734c, #ac6953, #bd9081);
    border-radius:5px;
}
.styleButtons{
      display:flex;
      flex-direction:column;
      float:right;
      margin:20px;
}

#normal,
#customOne,
#customTwo,
#customThree{
border:none;
background-color: #E48464;
color:white;
margin:5px;
padding:5px;
width:150px;
border-radius:6px;
}
#normal:hover,
#customOne:hover,
#customTwo:hover,
#customThree:hover {
background-color: #5d3426;
}


.customOne {
  font-family:comic sans MS;
  background:url(xmasbackground.jpg);
  color:rgb(187, 22, 22, 0.7);
  /* list-style-type:"🎄"; */
  border-radius:10px;
 min-height: 500px;
border:white;
box-shadow: 0 0 10px #719ECE;
}

.normal:focus,
.customOne:focus,
.customTwo:focus ,
.customThree:focus {
   border: 0 none #FFF;
   overflow: hidden;
   outline:none;
}



.customTwo {
 font-family: Bookman;
 letter-spacing: 3px;
 border:none;
 color:rgb(53, 52, 52);
}
.customThree {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  border:none;
}

.print {
  margin-top: 50px;
}

input[type=checkbox]{
  display:flex;
  justify-content: end;
}

/* .checkbox{
  border: 1px solid black;
  display: inline-block;
  padding: 3px;
  background: url(img/icon-heart-outline.png);
}

input[type=checkbox]:checked + .label{
  background: url(img/icon-heart.png);

} */

@media print {

  @page {
    margin: 0;
  }

  body {
    visibility: hidden;
  }


.title * {
  position:relative;
  border:none;
  visibility: visible;
  overflow-y: hidden;
}
.title  {
  position: absolute;
  width:100%;
}

  .ql-editor {
    border: none;
    box-shadow: none;
    position:absolute;
  }

  #editor * {
    margin: 1% 1% 0 1%;
    visibility: visible;
    overflow-y: hidden;
    position: relative;
  }


  #editor::-webkit-scrollbar {
    -ms-overflow-style: none;
    width: 0 !important;
  }
  #editor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .ql-tooltip.ql-hidden {
    visibility: hidden;

  }
}
  

